@using Web.Areas.Admin.ViewModels.Story
@model StoryIndexVM




<a class="btn btn-primary" asp-action="create" asp-controller="story">Create</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Create At</th>
            <th scope="col">Modified At</th>
            <th scope="col">Description</th>
            <th scope="col">Photo</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var story in Model.Stories)
        {
            <tr>
                <td>@story.Id</td>
                <td>@story.CreatedAt.ToShortDateString()</td>
                <td>@story.ModifiedAt.ToShortDateString()</td>
                <td>@Html.Raw(@story.Description)</td>
                <td><img class="img-thumbnail" style="width:50px ; height:50px; object-fit:cover" src="~/images/@story.PhotoName" /></td>

                <td>
                    <a class="btn btn-primary" asp-action="update" asp-controller="story" asp-route-id="@story.Id">Update</a>
                    <form method="post" asp-action="delete" asp-controller="story" asp-route-id="@story.Id">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

